<div class ="container ">


    <div id="signin">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-md- col-sm-offset-3 col-lg-6">
                <h4>Sign in</h4>
                <form action="signin" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="email" id ="email" class="form-control" name="email" placeholder="Enter Email"
                            required/><br>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" class="form-control" name="password"
                            placeholder="Enter Password" required/><br>
                        </div><br>
                        <button id="loginbtn"  class="btn btn-success btn-block">Sign in</button><br>
                        <button id="cancelbtn" class="btn btn-danger btn-block">Cancel</button><br>
                        <strong>New to Know How? Sign UP!</strong>
                        <a id="signupbtn" href="signup"  class="btn btn-info btn-block">Sign up</a><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="javascript">

// A $( document ).ready() block.
$( document ).ready(function() {
    $('#signupbtn').on("click",function(){

    });
});


</script>