<!DOCKTYPE html>
<html lang="en">
<head>
    <title>Art Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class ="container ">


    <div id="signin">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3 col-md- col-sm-offset-3 col-lg-6">
                <h4>Sign in</h4>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="email" id ="email" class="form-control" name="email" placeholder="Enter Email"
                            required/><br>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" class="form-control" name="password"
                            placeholder="Enter Password" required/><br>
                        </div><br>
                        <button id="loginbtn"  class="btn btn-success btn-block">Sign in</button><br>
                        <button id="cancelbtn" class="btn btn-danger btn-block">Cancel</button><br>
                        <strong>New to Know How? Sign UP!</strong>
                        <button id="signupbtn"  class="btn btn-info btn-block">Sign up</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
</body>
</html>