<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Soul</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse" style="background: linear-gradient(45deg, #177714, #37e833, #34d130, #269e22);">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">

            <a class="navbar-brand" href="#" style="color: white;"><img src="img/soul1.png" width="40" height="40" alt="">Soul</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto text-white" style=":hover{color:black;}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">

        <!-- Portfolio Item Heading -->
        <h5 class="my-4">Soul</h5>
        <!-- <hr style="background-color:white"> -->
        <!-- <div class="grid">
            <a href="#" class="grid__item grid__sizer">
              <div class="item__overlay">
                <button class="js-button btn btn-secondary-outline center-block" data-toggle="modal" data-target="#modalPicture" type="button" value="Expand photo" role="button">Expand photo</button>
              </div>
              <img src="http://ultraimg.com/images/photo-1.jpg" alt="Credits to Unsplash.com" />
            </a>
          </div> -->
        <!-- Portfolio Item Row -->
        <div class="row">

            <!-- <div class="col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
            </div> -->
            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9">
              <!-- <div class="card card-inverse"> -->
                <!-- <div class="item__overlay">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div> -->
                <div class="card card-inverse mt-1" >

                  <img class="card-img img-fluid" src="img/beach.jpg" alt="Card image">

                  <div class="card-img-overlay" style="background-color: rgba(0,189,0, 0.6);">

                    <span class="badge badge-success rounded-0">Nature</span>
                    <h4 class="card-title"><a href="#" class="text-white">Peaceful Lake </a></h4>
                  <i>by <a href="#" style="color:white;">Anonymous</a></i>
                  </div>

                </div>


                <!-- <div class="card-img-overlay" style="background-color: rgba(0,189,0, 0.6);">
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title"></h4>
                  <h4 class="card-title">Card title</h4>  -->
                  <!-- <p class="card-text text-white">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                <!-- </div> -->
              <!-- </div> -->
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
                <!-- <h3 class="my-3">Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3 class="my-3">Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul> -->

                    <!-- <a href="#">
                        <img class="img-fluid mt-1" src="http://placehold.it/500x300" alt="">
                    </a> -->
                    <div class="card" style="width: 22rem;">
                      <img class="card-img-top img-fluid" src="img/garden.jpg" alt="Card image cap">
                      <div class="card-block">
                        <span class="badge badge-success rounded-0">Nature</span>
                        <h4 class="card-title"><a href="#" class="text-success">Peaceful Garden</a></h4>
                        <i>by <a href="#">Some Author</a></i>
                      </div>
                    </div>
                  <!-- <div class="mt-2">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                  </div> -->
                  <div class="card card-inverse mt-1" style="width: 22rem; height: 192.5px;" >

                    <img class="card-img img-fluid" src="img/hill.jpg" alt="Card image">

                    <div class="card-img-overlay" style="background-color: rgba(0,189,0, 0.6);">

                    <span class="badge badge-success rounded-0">Nature</span>
                    <h4 class="card-title"><a href="#" class="text-white">Hill</a></h4>
                    <i>by <a href="#" style="color:white;">Jem Bowden</a></i>
                    </div>

                  </div>
                    <!-- <a href="#">
                        <img class="img-fluid mt-2" src="http://placehold.it/500x300" alt="">
                    </a> -->

            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <!-- <h3 class="my-4">Related Projects</h3> -->

        <div class="row mt-2">

            <div class="col-md-9 col-sm-6 mb-4">
              <!-- <div class="card" style="width: 22rem;">
                <img class="card-img-top img-fluid" src="app/dualityofheart.JPG" alt="Card image cap">
                <div class="card-block">
                  <span class="badge badge-success rounded-0">Abstract</span>
                  <h4 class="card-title">Duality Of Heart</h4>
                  <i>by <a href="#">Laura Spong</a></i>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
              <div class="card" style="width: 22rem;">
                <img class="card-img-top img-fluid" src="app/dualityofheart.JPG" alt="Card image cap">
                <div class="card-block">
                  <span class="badge badge-success rounded-0">Abstract</span>
                  <h4 class="card-title">Duality Of Heart</h4>
                  <i>by <a href="#">Laura Spong</a></i>
                </div>
              </div> -->
              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="img/fortheloveofgrace.jpg" alt="Card image cap">
                  <div class="card-block">
                    <span class="badge badge-success rounded-0">Abstract</span>
                    <a href="#" class="text-success"><h4 class="card-title text-success">For The Love Of Grace</h4></a>
                    <i>by <a href="#">Heather Betts</a></i>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="img/bigrockcreek.jpg" alt="Card image cap">
                  <div class="card-block">
                    <span class="badge badge-success rounded-0">Nature</span>
                    <a href="#" class="text-success"><h4 class="card-title text-success">Big Rock Creek</h4></a>
                    <i>by <a href="#">Glen Knowles</a></i>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="img/festivaloflife.jpeg" alt="Card image cap">
                  <div class="card-block">
                    <span class="badge badge-success rounded-0">Abstract</span>
                    <a href="#" class="text-success"><h4 class="card-title text-success">Festival Of Life</h4></a>
                    <i>by <a href="#">Angela Bushman</a></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div> -->

            <div class="col-md-3 col-sm-6 mb-4">
              <div class="card" style="width: 22rem; height: 332px;">
                <img class="card-img-top img-fluid" src="img/dualityofheart.JPG" alt="Card image cap">
                <div class="card-block">
                  <span class="badge badge-success rounded-0">Abstract</span>
                  <a href="#" class="text-success"><h4 class="card-title text-success">Duality Of Heart</h4></a>
                  <i>by <a href="#">Laura Spong</a></i>
                </div>
              </div>
            </div>

        </div>
        <!-- /.row -->
      </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2><span class="badge badge-success rounded-0">Abstract</span></h2>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="first-slide" src="img/wintersea.JPG" alt="First slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block text-left">
                        <span class="badge badge-success rounded-0">Abstract</span>
                        <a href="#"><h4 class="card-title text-white">Winter Sea</h4></a>
                        <i>by <a href="#">Anonymous</a></i>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="second-slide" src="img/stilllife.jpg" alt="Second slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block">
                        <span class="badge badge-success rounded-0">Abstract</span>
                        <a href="#"><h4 class="card-title text-white">Still Live</h4></a>
                        <i>by <a href="#">Carol Lee Rice</a></i>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="third-slide" src="img/passengers.jpg" alt="Third slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block text-right">
                        <span class="badge badge-success rounded-0">Abstract</span>
                        <a href="#"><h4 class="card-title text-white">Passengers</h4></a>
                        <i>by <a href="#">J. Elizalde Navarro</a></i>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2><span class="badge badge-success rounded-0">Nature</span></h2>
              <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel1" data-slide-to="1"></li>
                  <li data-target="#myCarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="first-slide" src="img/wintersea.JPG" alt="First slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block text-left">
                        <span class="badge badge-success rounded-0">Nature</span>
                        <a href="#"><h4 class="card-title text-white">Winter Sea</h4></a>
                        <i>by <a href="#">Anonymous</a></i>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="second-slide" src="img/stilllife.jpg" alt="Second slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block">
                        <span class="badge badge-success rounded-0">Nature</span>
                        <a href="#"><h4 class="card-title text-white">Still Live</h4></a>
                        <i>by <a href="#">Carol Lee Rice</a></i>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="third-slide" src="img/passengers.jpg" alt="Third slide">
                    <div class="container">
                      <div class="carousel-caption d-none d-md-block text-right">
                        <span class="badge badge-success rounded-0">Nature</span>
                        <a href="#"><h4 class="card-title text-white">Passengers</h4></a>
                        <i>by <a href="#">J. Elizalde Navarro</a></i>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel1" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel1" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
</body>
</html>
